#Topic modelling tools installation

from sklearn.model_selection import GridSearchCV
from sklearn.decomposition import LatentDirichletAllocation
from sklearn.manifold import TSNE
grid_params = {'n_components' : list(range(5,10))}
lda = LatentDirichletAllocation()
lda_model = GridSearchCV(lda,param_grid=grid_params)
lda_model.fit('The injection resulted in rash')

# Estimators for LDA model
lda_model1 = lda_model.best_estimator_
print("Best LDA model's params" , lda_model.best_params_)
print("Best log likelihood Score for the LDA model",lda_model.best_score_)
print("LDA model Perplexity on train data", lda_model1.perplexity(document_term_matrix))

Connecting to MondoDB

In [8]:
import pymongo

In [9]:
from pymongo import MongoClient

In [ ]:
myclient = MongoClient("mongodb://bouman:80um4N!@ec2-15-188-255-64.eu-west-3.compute.amazonaws.com:27017/")

In [ ]:
print(myclient.list_database_names())

In [ ]:
mydb = myclient.media_analysis
#db = myclient['media_analysis']

In [ ]:
print(mydb.list_collection_names())

In [ ]:
mycol = mydb['articles']

In [ ]:
print(mycol.find_one())

In [ ]:
x = mycol.find_one()

In [ ]:
print(x['meta']['source'])

In [ ]:
filter = {}

In [ ]:
n_articles = mycol.count_documents(filter)

In [ ]:
print(n_articles)

In [ ]:
filter_fr = {
'meta.source.language': 'fr'}

In [ ]:
filter_nl = {
'meta.source.language': 'nl'}

In [ ]:
n_fr_articles = mycol.count_documents(filter_fr)

In [ ]:
n_nl_articles = mycol.count_documents(filter_nl)

In [ ]:
print(n_fr_articles)
print(n_nl_articles)

In [ ]:
fr_articles = mycol.find(filter_fr, limit = 3)

In [ ]:
fr_articles = mycol.find({
'meta.source.language': 'fr'})

In [ ]:
fr_articles_agg = mycol.aggregate([{"$match": filter_fr}, {"$limit": 3}, {"$out":"fr_art3"}])

In [ ]:
fr_articles_agg

In [ ]:
for doc in fr_articles:
    print(type(doc))

In [11]:
# Import Dictionary
from gensim.corpora.dictionary import Dictionary
from nltk.tokenize import word_tokenize

In [ ]:
fr_dictionary = Dictionary(fr_articles)

In [ ]:
corpus = [fr_dictionary.doc2bow(doc) for doc in fr_articles]

In [ ]:
print(corpus)

In [12]:
import json

In [ ]:
def load_data(file):
    with open (file, 'r', encoding = 'utf-8') as f:
        data = json.load(f)

def write_data(file, data):
    with open (file, 'w', encoding = 'utf-8') as f:
        json.dump(data, f, indent =4)

In [ ]:
fr = load_data('fr_articles.json')

In [ ]:
fras = write_data(fr_articles)

In [13]:
import pandas as pd
import os

In [ ]:
os.chdir('..')

In [ ]:
french_articles = pd.read_csv('fr_articles.csv')

In [ ]:
french_articles.head()

In [ ]:
dutch_articles = pd.read_csv('nl_articles.csv')

In [ ]:
dutch_articles.head()

In [ ]:
french_articles_100 = french_articles.sample(100)

In [ ]:
french_articles_100 = french_articles_100.set_index('_id')

In [ ]:
french_articles_100

In [14]:
import re

In [ ]:
french_articles_100.reset_index(drop=True)

In [ ]:
french_articles_100['text'].reset_index(drop = True)

In [ ]:
#Removing punctuation
french_articles_100['preprocessed_text'] = french_articles_100['text'].map(lambda x: re.sub('[,\.!?]', '', str(x)))

In [ ]:
french_articles_100['preprocessed_text'] = french_articles_100['preprocessed_text'].map(lambda x: str(x).lower())

In [ ]:
french_articles_100.head()

In [15]:
import gensim

In [ ]:
from gensim.utils import simple_preprocess

In [ ]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

In [ ]:
french_stopwords = stopwords.words('french')

In [ ]:
def sent_to_words(sentences):
    for sentence in sentences:
        yield(gensim.utils.simple_preprocess(str(sentence), deacc= True))

def remove_stopwords(articles):
    return[[word for word in simple_preprocess(str(doc)) if word not in french_stopwords] for doc in articles]

In [ ]:
data = french_articles_100['preprocessed_text'].values.tolist()

In [ ]:
data_words = list(sent_to_words(data))

In [ ]:
data_words = remove_stopwords(data_words)

In [24]:
from gensim.models.tfidfmodel import TfidfModel

In [25]:
tfidf = TfidfModel()

In [ ]:
print(data_words[99:])

In [ ]:
import gensim.corpora as corpora

In [ ]:
dictionary = corpora.Dictionary(data_words)

In [ ]:
corpus = [dictionary.doc2bow(doc) for doc in data_words]

In [ ]:
t

In [ ]:
print(corpus[:1])

In [ ]:
from pprint import pprint

In [ ]:
num_topics = 10

In [ ]:
lda_model = gensim.models.LdaMulticore(corpus=corpus, id2word = dictionary, num_topics=num_topics)

In [ ]:
pprint(lda_model.print_topics())

In [ ]:
doc_lda = lda_model[corpus]

In [ ]:
import pyLDAvis

In [ ]:
import pyLDAvis.gensim
import pickle

In [ ]:
pyLDAvis.enable_notebook()

In [ ]:
path = os.path.join('.results')

In [ ]:
LDAvis_prepared = pyLDAvis.gensim.prepare(lda_model, corpus, dictionary)

In [ ]:
with open(path, 'wb') as f:
    pickle.dump(LDAvis_prepared,f)

In [ ]:
with open(path, 'rb') as f:
    LDAvis_prepared = pickle.load(f)

In [ ]:
pyLDAvis.save_html(LDAvis_prepared, './results' + str(num_topics) + '.html')

SPACY

In [ ]:
import spacy

In [ ]:
nlp = spacy.load('fr_core_news_lg')

In [21]:
from spacy.lang.fr import French

In [23]:
from spacy.tokens import Doc

In [22]:
nlp_f = French()

In [16]:
french_articles = pd.read_csv('french_10.csv')

In [18]:
french_articles['text']

0       Jamal Khashoggi, critique du régime saoudien a...
1       Coronavirus: plus de 1.200 nouveaux morts aux ...
2       Les concentrations de différents polluants rel...
3       Vous avez aimé la bataille hivernale entre les...
4       Le premier facteur demeure le salaire. Plus d’...
                              ...
9995    Les discussions entre le gouvernement belge et...
9996    Sur fond de crise sanitaire et économique liée...
9997    L'enseigne bruxelloise de meubles contemporain...
9998    Compte avec accès trouvé\n\nNous avons trouvé ...
9999    La Birmanie a soumis un premier rapport sur le...
Name: text, Length: 10000, dtype: object

In [19]:
french_corpus = french_articles['text']

Detecting language

In [26]:
mixed_articles = pd.read_csv('mixed_10.csv')

In [28]:
mixed_articles.head()

,url,date,text,title
0,https://plus.lesoir.be/302284/article/2020-05-...,2020-05-22T04:49:17.000Z,"Jamal Khashoggi, critique du régime saoudien a...",La famille du journaliste saoudien tué dans le...
1,https://plus.lesoir.be/302283/article/2020-05-...,2020-05-22T04:32:51.000Z,Coronavirus: plus de 1.200 nouveaux morts aux ...,Coronavirus: plus de 1.200 nouveaux morts aux ...
2,https://plus.lesoir.be/302282/article/2020-05-...,2020-05-22T04:22:52.000Z,Les concentrations de différents polluants rel...,La qualité de l’air en nette amélioration à Br...
3,https://plus.lesoir.be/302232/article/2020-05-...,2020-05-22T04:00:00.000Z,Vous avez aimé la bataille hivernale entre les...,Open VLD: une élection présidentielle à coutea...
4,https://plus.lesoir.be/302281/article/2020-05-...,2020-05-22T04:17:10.000Z,Le premier facteur demeure le salaire. Plus d’...,Six ménages sur dix ont perdu de l’argent dura...

In [29]:
from langdetect import detect_langs

In [30]:
languages = []

In [35]:
mixed_articles_dropped = mixed_articles.drop(columns = ['url', 'date', 'url'])

In [36]:
mixed_articles_dropped

,text,title
0,"Jamal Khashoggi, critique du régime saoudien a...",La famille du journaliste saoudien tué dans le...
1,Coronavirus: plus de 1.200 nouveaux morts aux ...,Coronavirus: plus de 1.200 nouveaux morts aux ...
2,Les concentrations de différents polluants rel...,La qualité de l’air en nette amélioration à Br...
3,Vous avez aimé la bataille hivernale entre les...,Open VLD: une élection présidentielle à coutea...
4,Le premier facteur demeure le salaire. Plus d’...,Six ménages sur dix ont perdu de l’argent dura...
...,...,...
9995,Eerste pluktuin in Herne opent binnenkort de d...,Eerste pluktuin in Herne opent binnenkort de d...
9996,Van alle Belgen hebben Oost-Vlamingen in april...,Van alle Belgen hebben Oost-Vlamingen in april...
9997,"economie, business en financiën, economische s...",Spoorlijn Lanaken-Maastricht wordt uit exploit...
9998,Broers ontwikkelen app om aantal bezoekers op ...,Broers ontwikkelen app om aantal bezoekers op ...
9999,Studie wijst op link tussen door Trump gepromo...,Studie wijst op link tussen door Trump gepromo...

In [52]:
mixed_articles_dropped['text'] = mixed_articles_dropped['text'].astype(str)

In [54]:
mixed_articles_dropped

,text,title
0,"Jamal Khashoggi, critique du régime saoudien a...",La famille du journaliste saoudien tué dans le...
1,Coronavirus: plus de 1.200 nouveaux morts aux ...,Coronavirus: plus de 1.200 nouveaux morts aux ...
2,Les concentrations de différents polluants rel...,La qualité de l’air en nette amélioration à Br...
3,Vous avez aimé la bataille hivernale entre les...,Open VLD: une élection présidentielle à coutea...
4,Le premier facteur demeure le salaire. Plus d’...,Six ménages sur dix ont perdu de l’argent dura...
...,...,...
9995,Eerste pluktuin in Herne opent binnenkort de d...,Eerste pluktuin in Herne opent binnenkort de d...
9996,Van alle Belgen hebben Oost-Vlamingen in april...,Van alle Belgen hebben Oost-Vlamingen in april...
9997,"economie, business en financiën, economische s...",Spoorlijn Lanaken-Maastricht wordt uit exploit...
9998,Broers ontwikkelen app om aantal bezoekers op ...,Broers ontwikkelen app om aantal bezoekers op ...
9999,Studie wijst op link tussen door Trump gepromo...,Studie wijst op link tussen door Trump gepromo...

In [57]:
mixed_articles_dropped.iloc[row, 0]

'Visite du garage de Luc Verloo, l\'heureux propriétaire de deux Jaguar, deux Austin-Healey, une Porsche et plusieurs Ford. "J\'ai du mal à dire au revoir", nous confie-t-il.\\n\\nLuc Verloo, ancien concessionnaire Ford La première: Ford Capri 2300 GT V6 (1972) Voiture de tous les jours: Porsche 911 Targa (2016). La meilleure: Ford Escort RS Cosworth (1993). La pire: "La MGA ne me plaisait pas, mais elle n’était pas mauvaise." Vendue avec regret: "La Ford Escort Mk1 de rallye de Dolf Moortgat (1968)."\\n\\n“Le problème, c’est que je suis incapable de vendre mes voitures!”, s’exclame en riant Luc Verloo (66 ans). Il nous ouvre la porte de son garage privé. “La Ford Prefect (1955) était une des premières voitures vendues par mon père et c’est celle qu’il conduisait quand j’étais enfant."\\n\\n"En grandissant, j’ai commencé à lui donner un coup de main. Celle-ci appartenait à un de ses clients et, quinze ans après son décès, elle se trouvait toujours dans son jardin. Je suis allé la chercher et ça fait cinquante ans qu’elle est ici, dans son état d’origine, hormis les sièges qui ont été refaits.”\\n\\nVue en plein écran Ford Prefect - 1955\\n\\nPlus rapide que la Porsche\\n\\nVue en plein écran Ford Escort Cosworth\\n\\nLa Ford Escort RS Cosworth (1993) qui se trouve un peu plus loin est d’un tout autre ordre. C’est la version routière de la voiture de rallye de l’époque, avec son gigantesque aileron arrière. “Celle-ci aussi me tient à cœur et je ne m’en séparerai jamais. Ce modèle a été construit en édition limitée et la plupart se sont crashés pendant des courses."\\n\\n"En ce qui me concerne, je la conduis depuis douze ans, mais elle est comme neuve. Et plus rapide que la Porsche 911 Carrera (1988)!” Avec à peine 106.000 kilomètres au compteur, cette voiture est, elle aussi, d’origine, non restaurée et dans un état proche du neuf. “Je l’ai achetée à une voisine, suite au décès de son mari, et j’ai dû lui promettre de ne pas la revendre.”\\n\\nVue en plein écran Porsche 911\\n\\nAnnées 60\\n\\nVue en plein écran Austin Healey 3000 MKIII\\n\\nIl possède aussi deux exemplaires de l’Austin-Healey 3000 Sports Convertible (1963, 1964). “Mon père en avait acheté une quand j’étais petit. Je me souviens que ma mère la prenait pour me conduire à l’école. Il y a dix ans, j’en ai acheté une et une seconde, il y a quatre ans, pour mon fils. Les moteurs perdent un peu d’huile, mais ils sont assez fiables et, surtout, très robustes. Ils délivrent 150 ch. À l’époque, c’était quelque chose!”\\n\\nSon Flandria Rekord 5 (1969) est également une source de nostalgie. “Flandria était une marque belge de cyclomoteurs qui avait des usines à Zedelgem et Zwevezele ainsi qu’aux Pays-Bas, en France, au Maroc et au Portugal. J’en avais un quand j’avais 16 ans, il faisait fureur! J’ai trouvé celui-ci lors d’une foire à Wieze et je l’ai remis en état -la crise sanitaire me donne enfin le temps pour tout remettre en ordre!”\\n\\nVue en plein écran Austin Healey 3000 MKIII\\n\\nDe Ford à Jaguar\\n\\n“Quant à la Jaguar Type E Série 2 (1969), je ne l’ai que depuis l’année dernière. Avec ce nez merveilleusement long, c’est une icône que j’ai toujours aimée. Et la XK8 Convertible (1996), je l’ai rachetée à un client. Quand Ford a repris Jaguar, j’ai enfin pu la conduire!”, s’exclame-t-il en riant.\\n\\nVue en plein écran Jaguar E-Type 1969\\n\\nUn deuxième garage abrite des voitures assez ordinaires, rachetées à des clients, et dont il ne parvient pas à se débarrasser. “Cette Ford Escort Cabriolet (1993) est impeccable -regardez ses sièges! Elle n’a aucune valeur, mais ce n’est pas très important."\\n\\n"Je n’ai pas vendu la Streetka (2003) non plus, elle a un beau design de Pininfarina et a été lancée par Kylie Minogue. Elle n’a pas été produite en beaucoup d’exemplaires. J’ai aussi une Escort Mk2 Belga de rallye, avec un moteur Pinto deux litres (1979), le même que celui du champion de rallye Robert Droogmans. Je l’ai trouvée par hasard lors d’une vente aux enchères en ligne de Vavato et je suis en train de la restaurer.”\\n\\nVue en plein écran Jaguar E-Type 1969\\n\\nToutes les voitures ne sont pas immatriculées, mais elles doivent tourner tous les deux mois. “Je fais quelques tours sur le parking et je fais tout fonctionner, même les essuie-glaces!”, précise-t-il. “Dans la seconde moitié des années 80, j’ai participé à l’Escort Star Cup à Zolder et Francorchamps, entre autres. Plus tard, j’allais sur circuit avec mon fils, dans une Escort Cosworth.”\\n\\nEt il nous montre fièrement une remorque avec un kart et du matériel de travail. “C’est à mon plus jeune petit-fils. Il a hérité de ma passion des voitures, contrairement à mon aîné.”\\n\\nVue en plein écran Austin Healey 3000 MKIII\\n\\nVue en plein écran Ford Prefect - 1955'

In [77]:
for row in range(len(mixed_articles_dropped)):
    languages.append(detect_langs(mixed_articles_dropped.iloc[row, 0]))

In [80]:
languages[100]

[de:0.7130906816772642, vi:0.2867937684950996]

In [74]:
import spacy
from spacy.language import Language

from spacy_language_detection import LanguageDetector


def get_lang_detector(nlp, name):
    return LanguageDetector(seed=42)  # We use the seed 42


nlp_model = spacy.load("fr_core_news_lg")
Language.factory("language_detector", func=get_lang_detector)
nlp_model.add_pipe('language_detector', last=True)

# Document level language detection
job_title = "Senior NLP Research Engineer"
doc = nlp_model(job_title)
language = doc._.language
print(language)

# Sentence level language detection
text = "This is English text. Er lebt mit seinen Eltern und seiner Schwester in Berlin. Yo me divierto todos los días en el parque. Je m'appelle Angélica Summer, j'ai 12 ans et je suis canadienne."
doc = nlp_model(text)
for i, sent in enumerate(doc.sents):
    print(sent, sent._.language)

{'language': 'en', 'score': 0.9999944616311092}
This is English text. {'language': 'en', 'score': 0.9999987929307774}
Er lebt mit seinen Eltern und seiner {'language': 'de', 'score': 0.9999978323369425}
Schwester in Berlin {'language': 'de', 'score': 0.9999976325361568}
. {'language': 'UNKNOWN', 'score': 0.0}
Yo me divierto todos {'language': 'it', 'score': 0.5774346446029754}
los días en el parque. {'language': 'es', 'score': 0.999995914989515}
Je m'appelle Angélica Summer, j'ai 12 ans et je suis canadienne. {'language': 'fr', 'score': 0.9999960488878062}

In [82]:
mixed_articles_dropped.iloc[row, 0]

'Studie wijst op link tussen door Trump gepromoot medicijn tegen Covid-19 en verhoogd risico op overlijden kv\\n\\n22 mei 2020\\n\\n17u24\\n\\nBron: Reuters, The Lancet 0 Medisch Er is een verband tussen malariadrug hydroxychloroquine, die de Amerikaanse president Donald Trump naar eigen zeggen al enige tijd neemt als bescherming tegen het coronavirus, en een verhoogd risico op overlijden aan Covid-19. Dat blijkt uit een studie de werd gepubliceerd in het medische tijdschrift The Lancet .\\n\\n\\n\\nPas je cookie instellingen Je cookie instellingen zorgen ervoor dat deze inhoud niet getoond wordt.Pas je cookie instellingen hier aan.\\n\\nIn de analyse werden 96.000 Covid-19-patiënten, verspreid over 671 ziekenhuizen in zes continenten, opgenomen. 14.888 van hen kregen hydroxychloroquine of het verwante chloroquine toegediend, al dan niet in combinatie met een antibioticum. De overige 81.144 patiënten kregen die behandeling niet.\\n\\nUit de studie bleek dat mensen die behandeld werden met het medicijn een grotere kans hadden om te overlijden dan mensen die het middel niet toegediend kregen. Het sterftepercentage van de groep die de medicijnen niet toegediend kreeg lag op 9 procent. Van de groepen patiënten die hydroxychloroquine of chloroquine kregen, stierven respectievelijk 18 en 16,4 procent. Dat percentage lag nog hoger bij coronapatiënten die de medicijnen kregen in combinatie met antibiotica. Bovendien kan het middel ook hartritmestoornissen veroorzaken.\\n\\n\\n\\nDe vraag naar hydroxychloroquine, een medicijnen dat al tientallen jaren wordt gebruikt tegen onder andere malaria, schoot begin april de hoogte in nadat Trump het middel begon te promoten als een efficiënt medicijn tegen het coronavirus. Eerder deze week zorgde hij wereldwijd voor ophef toen hij bekendmaakte dat hij het middel preventief innam.\\n\\nDe auteurs van de studie kunnen echter niet bevestigen dat het gebruik van het medicijn enig voordeel oplevert voor coronapatiënten en stellen daarom dat de behandeling voorlopig beter wordt vermeden tot resultaten van klinische tests uitwijzen dat het middel wel veilig en efficiënt zou zijn voor de behandeling van Covid-19-patiënten.\\n\\nEnkele weken geleden prees Trump de drug als een mogelijke behandeling tegen Covid-19, na de verschijning van een positief rapport over het gebruik ervan tegen het virus. Nieuwere studies hebben voorlopig nog geen bewijs gevonden dat het middel werkzaam is in de bestrijding van het coronavirus. In april publiceerde de FDA, het Amerikaanse agentschap dat instaat voor de voedselveiligheid en de veiligheid van geneesmiddelen, een waarschuwing voor het gebruik van hydroxychloroquine.'

In [84]:
#
spacy_langs = []
doc = nlp_model(mixed_articles_dropped.iloc[row, 0])
language = doc._.language
print(language)

{'language': 'nl', 'score': 0.999995684271308}

In [85]:
for row in range(len(mixed_articles_dropped)):
   doc = nlp_model(mixed_articles_dropped.iloc[row, 0])
   language = doc._.language
   spacy_langs.append(language)

In [94]:
print(spacy_langs[0])

{'language': 'fr', 'score': 0.9999968447860791}